<canvas #gamemap style="position: absolute; top: 10px; left: 10px; z-index: -1; border: 10px solid black;">

</canvas>

<canvas
(click)="attack($event)"
#canvas
style="position: absolute; top: 10px; left: 10px; z-index: 3;"
></canvas>


<canvas
#mobcanvas
style="position: absolute; top: 10px; left: 10px; z-index: 2;"
></canvas>



<span #uimenu style="position: absolute; top:10px; left:15px; z-index: 4; background-color: black;">
    <form>
        <input class="uibutton" type="button" value="Status">
        <input class="uibutton" type="button" value="Highscore">
        <input class="uibutton" type="button" value="LogIn">
        <input class="uibutton" type="button" value="X">
    </form>
</span>
