<body>
    <div class="canvasbackground">
        <canvas #gamemap style="position: absolute; z-index: -1; border: 10px solid black;">

        </canvas>
        
        <canvas
        (click)="attack($event)"
        #canvas
        style="position: absolute; z-index: 3;"
        ></canvas>
        
        
        <canvas
        #mobcanvas
        style="position: absolute; z-index: 2;"
        ></canvas>
        
        <span id="ui-toggle" style="position: absolute;  z-index: 3;" class="openUI"> 
            <button (click)="toggleUI()">
                +
            </button>
        </span>
        
        
        <span #uimenu *ngIf="showUI" style="position: absolute; z-index: 4; background-color: black;">
                    
            <form>
                <input class="uibutton" type="button" value="Stats" (click)="toggleStats()">
                <input class="uibutton" type="button" value="Leaderboard" (click)="toggleLeaderBoard()">
                <input class="uibutton" type="button" value="LogIn" (click)="login()">
                <input class="uibutton" type="button" value="LogOut" (click)="logout()">
                <input class="uibutton" type="button" value="X" (click)="toggleUI()">
            </form>
        </span>

        
        <div id="status" *ngIf="character && showStats" style="position: absolute; top:100px; left:500px; z-index: 4;" class="characterStats">
            <strong class="characterStatsTitle">Stats</strong>
            <br><br>
            <strong>Name:</strong> {{character.characterName}} <br>
            <strong>Exp:</strong> {{character.exp}} <br>
            <strong>Health:</strong> {{character.health}} <br>
            <strong>Attack:</strong> {{character.attack}} <br>
            <strong>Defense:</strong> {{character.defense}} <br>
            <strong>Mana:</strong> {{character.mana}} <br>
        </div>
        
        <div id="leaderboard" *ngIf="leaderBoard && showLeaderBoard" style="position: absolute; top:100px; left:500px; z-index: 4;" class="characterStats">
            <strong>Leaderboard</strong>
            <br><br>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Exp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let character of leaderBoard">
                        <td>{{character.characterName}}</td>
                        <td>{{character.exp}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</body>
